body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #f1ece9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  /**border: black solid 1px;   */
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7C6A0A;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}
nav .icons button svg {
  width: 36px;
  height: 36px;
}
nav .icons button svg path {
  stroke: #7C6A0A;
}

article {
  color: #7C6A0A;
  width: 100%;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
article h1 {
  font-size: 3em;
}
article p {
  font-size: 1.5em;
}
article .impact-section {
  padding-top: 15%;
  padding-left: 15%;
  width: 40%;
  height: 70%;
}
article button {
  width: 12vw;
  padding: 20px;
  border-style: none;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1em;
}
article .image-section {
  display: flex;
  align-items: center;
}
article .image-section img {
  height: auto;
  width: 30vw;
  border-radius: 25px;
}

section {
  width: 100%;
  height: auto;
  padding: 25px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
  font-weight: 300;
}
section .healthcare, section .forniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .forniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .forniture .card-section {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 80px;
  flex-wrap: wrap;
  text-align: center;
}
section .healthcare .product-card, section .forniture .product-card {
  width: 21vw;
  height: 39vw;
  background-color: #FFDAC6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
section .healthcare .product-card .icon, section .forniture .product-card .icon {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  padding: 2px;
}
section .healthcare .product-card .icon svg, section .forniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .product-card .icon svg path, section .forniture .product-card .icon svg path {
  stroke: #7C6A0A;
  stroke-width: 2;
}
section .healthcare .product-card .product-image, section .forniture .product-card .product-image {
  width: 84%;
  height: 80%;
  display: flex;
}
section .healthcare .product-card .product-image img, section .forniture .product-card .product-image img {
  width: 100%;
  height: 100%;
  background-image: cover;
  border-radius: 24px;
}
section .healthcare .product-card h3, section .forniture .product-card h3 {
  margin: 0;
  margin-top: 6px;
  color: #7C6A0A;
  font-size: 1.4em;
}
section .healthcare .product-card p, section .forniture .product-card p {
  margin: 0;
  margin-bottom: 9px;
  color: #7C6A0A;
  font-size: 1.17em;
}
section .forniture .product-card {
  background-color: #BABD8D;
}
section .forniture .product-card .icon svg path {
  stroke: white;
}
section .forniture .product-card h3 {
  color: white;
}
section .forniture .product-card p {
  color: white;
  font-size: 1.17em;
  font-weight: 300;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  display: flex;
  gap: 40px;
  width: 30vw;
  color: #E86424;
  font-size: 1.5em;
  font-weight: 300;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.galery {
  padding-bottom: 60px;
}
.galery h2 {
  padding-bottom: 60px;
}
.galery .images-galery {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.galery .images-galery img {
  width: 28vw;
  height: 45vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.galery .images-galery img:hover {
  transform: scale(1.3);
}

.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.location h3 {
  text-align: center;
  padding-bottom: 0;
  color: #E86424;
  font-size: 1.6em;
}
.location p {
  text-align: center;
  color: #E86424;
  font-size: 1.2em;
}

footer {
  color: white;
  font-size: 1.5em;
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 60px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}/*# sourceMappingURL=main.css.map */